@font-face {
  font-family: "ProximaNova-Black";
  src: local("ProximaNova-Black"),
    url("https://nomail.com.ua/files/eot/aa46d234cf405126cdd1c36600e4b978.eot?#iefix")
      format("embedded-opentype"),
    url("https://nomail.com.ua/files/woff/aa46d234cf405126cdd1c36600e4b978.woff")
      format("woff"),
    url("https://nomail.com.ua/files/woff2/aa46d234cf405126cdd1c36600e4b978.woff2")
      format("woff2");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: #010101 url(../images/main-bg.jpg) top right -170% no-repeat ;
  color: #ffffff;
  background-size: contain;
  background-attachment: fixed;
}
.container {
  width: 90%;
  max-width: 1060px;
  margin: auto;
  padding-top: 90px;
}
.header {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 71px;
}
.nav-link {
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  text-decoration: none;
  margin-right: 15px;
}
.hero {
  margin-top: 78px;
}
.hero-subtitle {
  font-family: "ProximaNova-Black", sans-serif;
  font-size: 40px;
  line-height: 100%;
}
.hero-title {
  font-family: "ProximaNova-Black", sans-serif;
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 25px;
}
.hero-description {
  max-width: 572px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #afafaf;
  margin-bottom: 25px;
}
.hero-ppremiere {
  display: block;
  font-size: 18px;
  line-height: 150%;
  color: #b02000;
  margin-bottom: 5px;
}
.hero-date {
  display: block;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 46px;
}
.hero-button-play {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  padding: 25px 87px 24px 34px;
  background: linear-gradient(90deg, #fb641a 0%, #fc3309 100%);
  border-radius: 300px;
  text-decoration: none;
}
.hero-button-play::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 65px;
  background: #ffffff url(../images/play-but.svg) no-repeat 42% 42%;
  right: 0;
  top: 0;
  border-radius: 50%;
  border: 8px solid rgba(255, 255, 255, 0.3);
}
.hero-button-play::before {
  content: "";
  position: absolute;
  width: 81px;
  height: 81px;
  background: rgba(255, 255, 255, 0.3);
  right: -8px;
  top: -8px;
  border-radius: 50%;
}
.episodes {
    margin-top: 59px;
}
.episodes-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 24px;
}
@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.slider {
  display: flex;
  flex-wrap: wrap;
}
.slider-item {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  min-height: 200px;
  background: rgba(80, 80, 80, 0.86);
  box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 30px;
}
.slider-item:hover {
  background: rgba(64, 101, 255, 0.86);
  transition: 0.3s;
}
.slider-year {
  font-size: 18px;
  line-height: 150%;
}
.slider-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 150%;
  margin: 0;
}
.slider-rating-label {
  font-size: 13px;
  line-height: 150%;
  margin-right: 12px;
  
}
.star{
  display: inline-block;
  background: url(../images/star.svg) no-repeat center;
  width: 12px;
  height: 12px;
}
.star-o {
  display: inline-block;
  background: url(../images/star-o.svg) no-repeat center;
  width: 12px;
  height: 12px;
}
.slider-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.slider-nav-left {
  width: 32px;
  height: 32px;
  border: none;
  margin-right: 15px;
  background: transparent url(../images/left-arrow.svg) no-repeat center;
  cursor: pointer;
  
}
.slider-nav-right {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent url(../images/right-arrow.svg) no-repeat center;
  cursor: pointer;
}
.slider-nav-left span,
.slider-nav-right span {
  display: none;
}
@media (max-width: 600px) {
  .hero-title {
    font-size: 45px;
   
  }
  .hero-subtitle {
    font-size: 35px;
    line-height: 120px;
  }
  .hero-description {
    font-size: 16px;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav {
    margin-top: 10px;
  }
  
}
@media (max-width: 400px) {
  .nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .nav-link {
    margin-bottom: 10px;
  }
  .hero {
    margin-top: 20px
  }
}